.contentTxt 
{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 85%; color: #333333; text-align: justify}

.windowTxt 
{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 60%; color: #666666; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px}

.loginTxt 
{  font-family: Arial, Helvetica, sans-serif; font-size: 65%; color: #333333; letter-spacing: normal; line-height: normal; font-weight: normal}
input {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; background-color: #DEDEDE}



TR{
    font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: "#333333"
}
TD{
    font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: "#333333"
}



a:link
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 9pt;
	color: "#0066CC";
	font-weight: bold;
	text-decoration: none 
}
a:visited
{
	font-family:  Arial, Verdana, Helvetica;
	font-size: 9pt;
	color: "#0066CC";
	font-weight: bold;
	text-decoration: none
} 
a:active 
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 9pt;
	color: "#0066CC";
	font-weight: bold;
	text-decoration: none
}
a:hover 
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 9pt;
	color: "#0066CC";
	font-weight: bold;
	text-decoration: underline
}



.backworld { 

		background-image:url('../Domeweb/images/worldback.gif');
        background-repeat: no-repeat;
        background-attachment: fixed
        background-position: 50% 50%;
}

.backnav { 

		background-image:url('../Domeweb/images/ScndBck.gif');
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-attachment: fixed
}

.backLogo { 

		background-image:url('../Domeweb/images/ScndBck11.gif');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-attachment: fixed
}


.navv2 :link
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 10pt;
	color: "#ffffff";
	text-decoration: none 
}
.navv2 :visited
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 10pt;
	color: "#ffffff";
	text-decoration: none
} 
.navv2 :active 
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 10pt;
	color: "#ffffff";
	text-decoration: none
}
.navv2 :hover 
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 10pt;
	color: "#FFFF00";
	text-decoration: none
}









.navarb :link
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: "#ffffff";
	text-decoration: none 
}
.navarb :visited
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: "#ffffff";
	text-decoration: none
} 
.navarb :active 
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: "#ffffff";
	text-decoration: none
}
.navarb :hover 
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: "#FFFF00";
	text-decoration: none
}



.main :link
{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	font-weight:normal;
	font-size: 8pt;
	color: "#000000" 
}
.main :visited
{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	font-weight:normal;
	font-size: 8pt;
	color: "#000000" 
} 
.main :active 
{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	font-weight:normal;
	font-size: 8pt;
	color: "#000000"
}
.main :hover 
{
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica;
	font-weight:normal;
	font-size: 8pt;
	color: "#000000"
}



.subhead :link
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: "#355D73";
	font-weight:bold;
	text-decoration: underline
}
.subhead :visited
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: "#355D73";
	font-weight:bold;
	text-decoration: underline
 
} 
.subhead :active 
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: "#355D73";
	font-weight:bold;
	text-decoration: underline

}
.subhead :hover 
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: "#FF9900";
	font-weight:bold;
	text-decoration: underline

}






table
{
	table-border-color-light: rgb(255,204,102);
	table-border-color-dark: rgb(204,153,102); 
}

BODY
{
	
	SCROLLBAR-FACE-COLOR: #E2E8E8; 
	SCROLLBAR-HIGHLIGHT-COLOR: #E2E8E8; 
	SCROLLBAR-SHADOW-COLOR: #000000 SCROLLBAR-3DLIGHT-COLOR: #E2E8E8; 
	SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #E2E8E8; 
	SCROLLBAR-DARKSHADOW-COLOR: #E2E8E8;
	margin: 0px 0px 0px 0px;
    
    

}

p
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 13px;
	color: "#333333";
		
}

.head
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 16pt;
	color: "#355D73";
	font-weight:normal;
	text-decoration: none;
	text-align: center
	
		
}

.pagehead
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12pt;
	color: "#94974F";
	font-weight:bold;
	text-decoration: none
		
}

.subhead
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: "#355D73";
	font-weight:bold;
	
		
}

background-color: BED7F1;
font-family: Verdana, Arial, Helvetica;
background-position: 50% 50%;
355D73
dome


BED7F1